.nav-link:hover::after {
  width: 100%;
}
.nav-link:hover {
  color: #cfa670;
}
.nav-link::after {
  content: "";
  width: 0%;
  height: 0.1rem;
  background-color: #cfa670;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  transition: 0.3s;
}
