.nav-link:hover::after {
  width: 100%;
}
.nav-link:hover {
  color: #cfa670;
}
.nav-link::after {
  content: "";
  width: 0%;
  height: 0.1rem;
  background-color: #cfa670;
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  transition: 0.3s;
}
.menu-item {
  font-family: "Lato", "sans-serif" !important;
  font-weight: 600 !important;
  font-size: 14px !important;
}
.menu-item:hover {
  color: #cfa670;
}
