@import url("https://fonts.googleapis.com/css2?family=Kristi&family=Lato:wght@100;300;400;700;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif !important;
  line-height: 1.8;
  word-wrap: break-word;
}

.active {
  background-color: unset !important;
  color: #cfa670 !important;
}

.login,
.errorPageButton {
  font-size: 16px;
  font-weight: 900;
  text-transform: none;
  letter-spacing: 1px;
  padding: 12px 24px;
  fill: #222222;
  color: #222222;
  background-color: #02010100;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #222222;
  border-radius: 5px 5px 5px 5px;
}
